a:hover {
    text-decoration: none !important;
}

.page-content {
    
    h2 {
        padding: 15px 0;
    }
    
    margin: 15px 0 0 30px;
}

// h2 {
//     font-family: $wj-font;
// }

// .logo-font {
//     font-family: $wj-font;
// }

