@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700');
// @font-face {
//     font-family: coolvetica;
//     src: url('../../../public/fonts/coolvetica.ttf');
// }

// Body


// Typography
// $wj-font: 'coolvetica';
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
