/* COLORS */
.blue {
    color: $blue;
}

.blue-bg {
    background-color: $blue;
}

.pink {
    color: $pink;
}

.pink-bg {
    background-color: $pink;
}

.magenta {
    color: $magenta;
}

.magenta-bg {
    background-color: $magenta;
}

.purple-1 {
    color: $purple-1;
}

.purple-1-bg {
    background-color: $purple-1;
}

.purple-2 {
    color: $purple-2;
}

.purple-2-bg {
    background-color: $purple-2;
}

.purple-3 {
    color: $purple-3;
}

.purple-3-bg {
    background-color: $purple-3;
}

.purple-4 {
    color: $purple-4;
}

.purple-4-bg {
    background-color: $purple-4;
}

.purple-5 {
    color: $purple-5;
}

.purple-5-bg {
    background-color: $purple-5;
}

.black-1 {
    color: $black-1;
}

.black-1-bg {
    background-color: $black-1;
}

.black-2 {
    color: $black-2;
}

.black-2-bg {
    background-color: $black-2;
}

.black-3 {
    color: $black-3;
}

.black-3-bg {
    background-color: $black-3;
}

.black-4 {
    color: $black-4;
}

.black-4-bg {
    background-color: $black-4;
}

.gray-1 {
    color: $gray-1;
}

.gray-1-bg {
    background-color: $gray-1;
}

.gray-2 {
    color: $gray-2;
}

.gray-2-bg {
    background-color: $gray-2;
}

.gray-3 {
    color: $gray-3;
}

.gray-3-bg {
    background-color: $gray-3;
}

.white {
    color: $white;
}

.white-bg {
    background-color: $white;
}

.text {
    color: $text;
}

.blue-hv {
    color: $blue-hover;
}

.blue-hv-bg {
    background-color: $blue-hover;
}

.pink-hv {
    color: $pink-hover;
}

.pink-hv-bg {
    background-color: $pink-hover;
}

.magenta-hv {
    color: $magenta-hover;
}

.magenta-hv-bg {
    background-color: $magenta-hover;
}

.purple-1-hv {
    color: $purple-1-hover;
}

.purple-1-hv-bg {
    background-color: $purple-1-hover;
}

.purple-2-hv {
    color: $purple-2-hover;
}

.purple-2-hv-bg {
    background-color: $purple-2-hover;
}

.purple-3-hv {
    color: $purple-3-hover;
}

.purple-3-hv-bg {
    background-color: $purple-3-hover;
}

.purple-4-hv {
    color: $purple-4-hover;
}

.purple-4-hv-bg {
    background-color: $purple-4-hover;
}

.purple-5-hv {
    color: $purple-5-hover;
}

.purple-5-hv-bg {
    background-color: $purple-5-hover;
}

.black-1-hv {
    color: $black-1-hover;
}

.black-1-hv-bg {
    background-color: $black-1-hover;
}

.black-2-hv {
    color: $black-2-hover;
}

.black-2-hv-bg {
    background-color: $black-2-hover;
}

.black-3-hv {
    color: $black-3-hover;
}

.black-3-hv-bg {
    background-color: $black-3-hover;
}

.black-4-hv {
    color: $black-4-hover;
}

.black-4-hv-bg {
    background-color: $black-4-hover;
}

.gray-1-hv {
    color: $gray-1-hover;
}

.gray-1-hv-bg {
    background-color: $gray-1-hover;
}

.gray-2-hv {
    color: $gray-2-hover;
}

.gray-3-hv-bg {
    background-color: $gray-3-hover;
}

.gray-3-hv {
    color: $gray-3-hover;
}

.gray-3-hv-bg {
    background-color: $gray-3-hover;
}


/* BUTTONS */
.btn-blue {
    background-color: $blue;
    color: $white;

    :hover {
        background-color: $blue-hover;
        color: $white;
    }
}

.btn-pink {
    background-color: $pink;
    color: $white;

    :hover {
        background-color: $pink-hover;
        color: $white;
    }
}

.btn-magenta {
    background-color: $magenta;
    color: $white;

    :hover {
        background-color: $magenta-hover;
        color: $white;
    }
}

.btn-purple-1 {
    background-color: $purple-1;
    color: $white;

    :hover {
        background-color: $purple-1-hover;
        color: $white;
    }
}

.btn-purple-2 {
    background-color: $purple-2;
    color: $white;

    :hover {
        background-color: $purple-2-hover;
        color: $white;
    }
}

.btn-purple-3 {
    background-color: $purple-3;
    color: $white;

    :hover {
        background-color: $purple-3-hover;
        color: $white;
    }
}

.btn-purple-4 {
    background-color: $purple-4;
    color: $white;

    :hover {
        background-color: $purple-4-hover;
        color: $white;
    }
}

.btn-purple-5 {
    background-color: $purple-5;
    color: $white;

    :hover {
        background-color: $purple-5-hover;;
        color: $white;
    }
}